language: node_js
branches:
  only:
    - master
node_js:
  - '11'
cache: npm
script:
  - npm run test
  - if [[ $TRAVIS_BRANCH = 'master' && $TRAVIS_PULL_REQUEST = 'false' ]]; then npm run build; fi
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: master
  fqdn: towerofhanoi.mikelowe.xyz
