html {
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  display: none !important;
}

.container {
  margin: 0 auto;
  max-width: 58.5rem;
  padding: 0 0.75rem 2.68rem;
  width: 100%;
}

.row {
  max-width: 40rem;
  width: 100%;
}

.controls {
  max-width: 25rem;
}

.towers {
  position: relative;

  .win-message {
    font-size: 2.7rem;
    position: absolute;
    width: 100%;
    z-index: 3;
  }
}

.tower {
  align-items: center;
  border-bottom: 0.1rem solid #41403e;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 16rem;
  justify-content: flex-end;
  position: relative;

  .line {
    border-left: 0.1rem solid #41403e;
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 0.1rem;
    z-index: 1;
  }
}

.disk {
  height: 1.5rem;
  transition: all 235ms ease 0s;
  z-index: 2;

  &.selected {
    transform: scale(1.1) translateY(-0.5rem);
  }
}

@for $i from 1 through 10 {
  .disk-#{$i} {
    width: $i * 10%;
  }
}
